*{
    margin: 0;
    padding: 0;
}
.head{
  min-width: 1000px;
  width: 100%;
  height: 54px;
  margin: 0 auto;
  background-color: #FFFFFF;
  position: sticky; /*头部导航栏固定，粘性布局*/
  top: 0;
  z-index: 999;
  border-bottom: 2.5px solid rgba(4, 4, 4, 0.133); /*缩小窗口时，蕴蓄的最小宽度，若小于1000px,则出现水平滚动条*/
  }
  /* logo部分 */
  .head .logo{
    width: 20%;
    height: 100%;
    /* background-color:rgb(55, 202, 235); */
    float:left;
  }
  .head .logo #tubiao{
    display: block;
    width: 32px;
    height: 32px;
    /* background-color: bisque; */
    margin-left: 90px;
    margin-top: 12px;
    background: url(../img/草莓.png);
  }
  .head .logo #caomei{
    display: block;
    height: 32px;
    margin-left: 136px;
    margin-top: -32px;
    text-decoration: none;
    font-size: 25px;
    color:rgb(187, 176, 51);
  }
  .head .nav{
    width: 60%;
    height: 100%;
    float:left;
  }
  .head .login{
    width: 20%;
    height: 100%;
    /* background-color: rgb(229, 138, 208); */
    float:right;
  }
  /* 中间导航部分 */
  .nav ul{
    width: 100%;
    height: 100%;
    list-style: none;/*去掉黑点*/
  }
  .nav ul li{
    float:left;/*li不换行*/
    width: 90px;
    height: 100%;
  }
  .nav ul li a{
    display:block;/*改成块级元素，使得款高度有效*/
    width: 100%;
    height: 100%;
    text-decoration: none;/*去掉下划线*/
    text-align: center;
    line-height: 58px;
    font-size:14px;
    color:rgb(33, 100, 188);
  }
  .nav ul li a:hover{
    color:#0adc6c;
    text-decoration:underline;
  }
  .login-btn{
     display: block;
     width: 60px;
     height: 30px;
     background-color: bisque;
     float:left;
     margin-top: 14px;
     margin-right: 20px;
     font-size: 12ps;
     text-decoration: none;
     text-align: center;
     line-height: 30px;
     border-radius: 4px;
  }
  /* 横幅 */
#banner{
  width: 100%;
  height: 600px;
  background-size: cover;
  transition: background-image 1s ease; 
  background-image: url(../img/香港.jpg);
}
#banner .seach{
  width: 50%;
  height: 120px;
  margin-left: 25%;
  margin-top: 230px;
  position: absolute;
}
#banner .seach .seach1{
  width: 33%;
  height: 45%;
  background-color:rgb(43, 232, 78);
  border-radius: 10px 10px 0 0;
  float: left;
}
#banner .seach .seach2{
  width: 34%;
  height: 45%;
  background-color:#77767663;
  border-radius: 10px 10px 0 0;
  float: left;
}
#banner .seach .seach3{
  width: 33%;
  height: 45%;
  background-color:#77767663;
  border-radius: 10px 10px 0 0;
  float: right;
}
#banner .seach .seach6{
  width: 100%;
  height: 55%;
  background-color: rgb(43, 232, 78);
  float: left;
}
#banner .seach .seach1 #apple{
  display:block;
  width: 27px;
  height: 27px;
  margin-left: 62px;
  margin-top: 12px;
  background:url(../img/苹果.png);
}
#banner .seach .seach1 #stratery{
  display:block;
  text-decoration: none;
  height:27px;
  margin-top: -26px;
  margin-left:94px;
  color:rgb(243, 243, 243);
  font-size: 23px;
  font-family:SimHei;
  transition: font-weight 0.3s;
}
#stratery:hover{
  font-weight: bold; 
}
#banner .seach .seach2 #banana{
  display:block;
  width: 27px;
  height: 27px;
  margin-left: 70px;
  margin-top: 12px;
  background:url(../img/香蕉.png);
}
#banner .seach .seach2 #journey{
  display:block;
  text-decoration: none;
  height:27px;
  margin-top: -26px;
  margin-left:102px;
  color:rgb(243, 243, 243);
  font-size: 23px;
  font-family:SimHei;
  transition: font-weight 0.3s;
}
#journey:hover{
  font-weight: bold; 
}
#banner .seach .seach3 #peach{
  display:block;
  width: 27px;
  height: 27px;
  margin-left: 62px;
  margin-top: 12px;
  background:url(../img/桃子.png);
}
#banner .seach .seach3 #nearby{
  display:block;
  text-decoration: none;
  height:27px;
  margin-top: -26px;
  margin-left:94px;
  color:rgb(243, 243, 243);
  font-size: 23px;
  font-family:SimHei;
  transition: font-weight 0.3s;
}
#nearby:hover{
  font-weight: bold;
}
#banner .seach .seach6 .box{
 display: block;
 width: 70%;
 height: 80%;
 margin-top: 6px;
 float: left;
 margin-left: 10px;
 border-radius: 6px;
 box-sizing: border-box;
 border: 0;
 font-size: 18px;
 color: rgb(68, 68, 68);
 padding: 8px 12px; 
}
#banner .seach .seach6 .sea{
  margin-right: 30px;
  border: 0;
  display: block;
  margin-top: 6px;
  width: 150px;
  height: 51px;
  float: right;
  border-radius: 6px;
  background-color:bisque;
  line-height: 24px;
  font-size: 22px;
  font-family: SimHei;
  font-weight: bold;
}
#banner .seach .seach6 .sea #big{
  background-image: url(../img/放大镜.png);
  float: left;
  margin-left: 10px;
  width: 27px;
  height: 27px;
}

#banner .seach .seach6 .journey1{
  height: 80%;
  width: 90%;
  margin-left: 5%;
  margin-top: 6px;
}
#banner .seach .seach6 .journey1 .explan{
  font-size: 18px;
  float: left;
  margin-left: 50px;
  margin-top: 15px;
  color: aliceblue;
  font-family:SimHei;
}
#banner .seach .seach6 .journey1 #jourbtn{
  display: block;
  height: 100%;
  width: 150px;
  background-color: rgb(210, 235, 74);
  float: right;
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
}
#banner .seach .seach6 .nearby1{
  height: 80%;
  width: 90%;
  margin-left: 5%;

  margin-top: 6px;
}
#banner .seach .seach6 .nearby1 #province{
  width: 177px;
  height:80%;
  margin-top: 4px;
  margin-left: 20px;
  font-size: 20px;
  background-color:rgb(253, 230, 202);
  color: rgb(39, 24, 5);
}
#banner .seach .seach6 .nearby1 #city{
  width: 177px;
  height:80%;
  margin-top: 4px;
  margin-left: 10px;
  font-size: 20px;
  background-color:rgb(253, 230, 202);
  color: rgb(39, 24, 5);
}
#banner .seach .seach6 .nearby1 #nearbtn{
  display: block;
  height: 100%;
  width: 150px;
  background-color: blueviolet;
  float: right;
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
}
.ad{
  width: 100%;
  height: 160px;
  background-color: #f5f5f5;
}
.ad #ad1{
  margin-left: 10%;
  float: left;
  height: 120px;
  display: block;
  position: absolute;
  margin-top: 15px;
  width: 50%;
}
.ad #ad2{
  float:left;
  margin-left: 60%;
  height: 120px;
  display: block;
  position: absolute;
  margin-top: 15px;
  width: 30%;
}
.recommend{
  margin-top: 26px;
  height: 1000px;

}
.recommend .secure{
  margin-left: 10%;
}
.recommend .secure #sep{
  width: 216px;
  height: 54px;
}
.recommend .place{
  color: rgb(93, 91, 91);
  font-weight: bold;
  margin-left: 19%;
  font-size: 42px;
  position: absolute;
  margin-top: 4px;
}
.local{
  margin-top: 5px;

  width: 80%;
  height: 800px;
  margin-left: 10%;
}
.recommend ul{
  list-style: none;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-left: 10%;
  position: absolute;
  flex-wrap: wrap; 
  justify-content: space-between; 
}
.recommend1 li:first-child{
  -webkit-animation: show .5s ease-in-out 0s forwards;
  animation: show .5s ease-in-out 0s forwards;
}
.recommend ul li {
  position: relative;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  width: 275px;
  height: 300px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  background: #fff;
}
.recommend ul li .item {
  width: 100%;
  height: 100%;
}
.recommend ul li .item .img {
  position: relative;
  width: 275px;
  height: 185px;
  overflow: hidden;
}
.recommend a, a:hover {
  text-decoration: none;
}
.recommend ul li .item .img img{
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  vertical-align: top;
  transition: all 1.2s ease;
}
.recommend a {
  text-decoration: none;
  color: #0073b6;
}
.recommend ul li .item .img .tag {
  position: absolute;
  top: 14px;
  left: 10px;
  padding: 0 8px;
  border: 1px solid #fff;
  border-radius: 14px;
  font-size: 14px;
  color: #fff;
  background: rgba(0, 0, 0, .2);
  text-align: center;
  overflow: hidden;
}
.recommend fieldset, img {
  border: 0;
}
.recommend img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.recommend ul li .item .img .tag span {
  display: block;
  height: 22px;
  line-height: 22px;
  white-space: nowrap;
}
.recommend ul li .item .info {
  padding: 0 18px;
  border: 1px solid #ececec;
  border-top: 0;
  height: 114px;
  line-height: 24px;
  overflow: hidden;
}
.recommend ul li .item .info a {
  font-weight: 700;
  color: #323232;
  transition: all .2s ease-in-out;
}
.recommend ul li .item .info .subtitle {
  margin-top: 10px;
  height: 48px;
  font-size: 18px;
  overflow: hidden;
}

.recommend ul li .item .info .bottom {
  margin-top: 16px;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
  color: #636363;
}
.recommend ul li .item .info a {
  font-weight: 700;
  color: #323232;
  transition: all .2s ease-in-out;
}
.recommend ul li .item .info .bottom em {
  font-size: 26px;
  color: #ff7466;
}
.fr {
    float: right;
}
.bottom .fz {
  font-size:12px;
  float: right;
  color: #636363;
}
.recommend ul li .item .info .bottom .f14 {
  display: inline-block;
  max-width: 70%;
  min-width: 55%;
  color: #636363;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
