*{
    margin: 0;
    padding: 0;
}
.head{
    min-width: 1000px;
    width: 100%;
    height: 54px;
    margin: 0 auto;
    background-color: #FFFFFF;
    position: sticky; /*头部导航栏固定，粘性布局*/
    top: 0;
    z-index: 999;
    border-bottom: 2.5px solid rgba(4, 4, 4, 0.133);
}
  /* logo部分 */
  .head .logo{
    width: 20%;
    height: 100%;
    /* background-color:rgb(55, 202, 235); */
    float:left;
  }
  .head .logo a{
    display: block;
    width: 210px;
    height: 54px;
    /* background-color: bisque; */
    margin-left: 90px;
    margin-top: 0;
  }
  .head .logo img{
    width: 220px;
    height: 50px;
  }
  .head .nav{
    height: 50px;
    width: 60%;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    float: left;
}
 
   /* 中间导航部分 */
   .nav ul{
    width: 100%;
    text-align: center;
    height: 100%;
    list-style: none;/*去掉黑点*/
  }
  .nav ul li{
    float:left;/*li不换行*/
    width: 90px;
    height: 100%;
  }
  .nav ul li a{
    display:block;/*改成块级元素，使得款高度有效*/
    width: 100%;
    height: 100%;
    text-decoration: none;/*去掉下划线*/
    text-align: center;
    line-height: 58px;
    font-size:14px;
    color:rgb(33, 100, 188);
  }
  .nav ul li a:hover{
    color:#0adc6c;
    text-decoration:underline;
  }
  .login-btn{
    display: block;
    width: 60px;
    height: 30px;
    background-color: bisque;
    float:left;
    margin-top: 14px;
    margin-right: 20px;
    font-size: 12ps;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
 }
 .head .login{
  width: 20%;
  height: 100%;
  /* background-color: rgb(229, 138, 208); */
  float:right;
}








/*横幅*/
.banner {
  height: 500px;
  margin: 0px;
  padding: 0px;
}
.banner img{
  margin-top: 0px;
  width: 100%;
  height: 500px;
  z-index: 1;
}

.banner .title-box {
  margin-top: -338px;
  text-align: center;
  z-index: 2;
}
.banner .title-box .title {
  font-size: 56px;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 5px 5px rgba(0,0,0,.1);
}

.banner .search-box {
  position: absolute;
  width: 760px;
  top: 325px;
  left: 50%;
  margin-left:-380px;
}
.place-search {
  height: 60px;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.place-search .left {
  background-color: #fff;
  margin-right: 140px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.place-search .left input {
  height: 20px;
  padding: 20px 0;
  width: 100%;
  display: block;
  border: none;
  font-size: 18px;
  text-indent: 31px;
  background-color: transparent;/*背景色设置为透明*/
}
.place-search .left  ul{
  list-style: none;
  margin-left: 10px;
  border-top:2px solid rgba(4, 4, 4, 0.133); ;
}

.place-search .right {
  position: absolute;
  right: 0;
  top: 0;
  width: 140px;
}
.place-search .btn-btn {
  display: block;
  width: 138px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background-color: #28b76c;
  border: 1px solid #27ad66;
  text-decoration: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.place-search .btn-btn:hover {
  background-color: #27ad66;
}

/* top榜单 */
.place-top {
  margin: 70px auto 0;
  width: 980px;
  zoom: 1;
}
.place-top-title {
  text-align: center;
  height: 26px;
  line-height: 24px;
  margin: 0 auto 25px;
}
.place-top-title span {
  font-size: 24px;
  color: #000;
  font-weight:520;/*设置字体粗细*/
}
.TOPshow {
  display: flex;
  justify-content: space-between;/* 均匀排列每个元素首个元素放置于起点，末尾元素放置于终点 */
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.TOPshow .topshow1 ul {
  list-style: none;
}
.topshow1 li .ranks {
  display: inline-block;
  width: 24px;
}

.topshow1 li {
  padding: 6px 0;
  font-size: 14px;
}
.topshow1 li a {
  color: currentColor;
  text-decoration: none;
  color: #0f0f10;
  font-size: 16px;
}
.topshow1 li a:hover{
  color: #0adc6c;
}

/*热度标志*/
.topshow1 li em {
  display: inline-block;/*内联元素可以设置宽高*/
  margin-left: 4px;
  width: 14px;
  height: 14px;
  background-size: contain;
}
.topshow1 li em.up {
  background-image: url(https://fes.qyerstatic.com/FhQfXCJvGDZ2FtUcXMTZ1ZGPNOKJ);
}
.topshow1 li em.down {
  background-image: url(https://fes.qyerstatic.com/Ft6DdiCksrsX8G3OYc-eplXNUm_l);
}


/*城市风光*/
.tupian ul{
  list-style: none;
  
}
.tupian ul li{
  display: block;
  float: left;
  width: 200px;
  height: 180px;
  padding: auto;
}
.tupian ul li img{
  display: block;
  float: left;
  width:100%;
  height: 100%;
}