.titlep{
width: 1555px;
height: 88px;
background-image: url(../img/草莓背景.png);
}
.titlep .titlet{
font-family:SimHei;
font-size: 34px;
font-weight: bold;
margin-left: 650px;
margin-top: 20px;
position: absolute;
color: rgb(52, 52, 52);
}
#map {
    height: 400px;
  }
  #second{
  color: rgb(240, 80, 255);
}
.table1{
  background-image: url(../img/表格背景.jpg);
}
#locationTable {
border-collapse: collapse;
width: 70%;
margin-left: 15%;
margin-top: 10px;
}
#locationTable tr {
height: 100px;
}
#locationTable td.one {
width: 25%;
font-size: 22px;
border: 2px solid rgb(250, 189, 66); 
}
#locationTable td.two {
width: 25%;
font-size: 22px;
border: 2px solid rgb(250, 189, 66);
}
#locationTable td.three {
width: 50%;
border: 2px solid rgb(250, 189, 66);
}